@font-face {
    font-family: 'ds-digitalbold';
    src: url('../fonts/ds-digib-webfont.eot');
    src: url('../fonts/ds-digib-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ds-digib-webfont.woff2') format('woff2'),
         url('../fonts/ds-digib-webfont.woff') format('woff'),
         url('../fonts/ds-digib-webfont.svg#ds-digitalbold') format('svg');
    font-weight: normal;
    font-style: normal;
}