* {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	line-height: 1.4em;
	box-sizing: border-box;
	font-size: inherit;
}

*,
*:before,
*:after {
/*	box-sizing: inherit;
*/}

img {
	max-width:  100%;
}

strong {
	font-weight: 600;
	font-size: inherit;
}

section {
	position: relative;
}

.in-bl {
	display: inline-block;
}

.app {
    font-weight: 300;
	width: 100%;
	height: auto;
	color: #333333;

	background: -moz-linear-gradient(top,  rgba(127,127,127,0.5) 0%, rgba(212,212,212,0.13) 25%, rgba(212,212,212,0) 33%), 
	url('../img/pattern1.jpg') repeat; /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(127,127,127,0.5) 0%,rgba(212,212,212,0.13) 25%,rgba(212,212,212,0) 33%),
	url('../img/pattern1.jpg') repeat; /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(127,127,127,0.5) 0%,rgba(212,212,212,0.13) 25%,rgba(212,212,212,0) 33%),
	url('../img/pattern1.jpg') repeat; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#807f7f7f', endColorstr='#00d4d4d4',GradientType=0 ); /* IE6-9 */
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7f7f7f+0,d4d4d4+75&0.5+0,0+100 */
}

.header {
	font-size: 14px;
	text-align: center;
	width: 100%;
}

.main-header {
	font-size: 32px;
	font-weight: 300;
    text-shadow: 0px 1px #cfcfd0;
}

.main-header strong {
	font-weight: 400;
}

.goodies-list,
.goodies-list2,
.list-item,
.games-sold {
	display: inline-block;
}

.goodies-list .list-item {
	margin: 5px 10px 0px;
}

.goodies-list .list-item:before {
	position: relative;
	top: -2px;
	display: inline-block;
	content: " ";
	height: 25px;
	width: 25px;
	background-repeat: no-repeat;
	vertical-align: middle;
	background-position: 50% 50%;
}

.goodies-list .item-1:before {
	background-image: url('../img/icons/ico-1.png');
}

.goodies-list .item-2:before {
	background-image: url('../img/icons/ico-2.png');
	height: 25px;
}

.goodies-list .item-3:before {
	background-image: url('../img/icons/ico-3.png');
}

.goodies-list .item-4:before {
	background-image: url('../img/icons/ico-4.png');
}


.extended-info {
	max-width: 950px;
	margin: 0 auto;
	padding-bottom: 100px;
	text-align: center;
	color: #4c4c4c;
	font-size: 12px;
}

.crossed-title {
	display: block;
	font-weight: 300;
	font-size: 14px;
	width: 100%;
}

.crossed-title:after,
.crossed-title:before {
    display: inline-block;
    margin: 0 0 5px 20px;
    height: 1px;
    content: " ";
    text-shadow: none;
    background-color: #999;
    width: 0;
}
.crossed-title:before {
    margin: 0 20px 5px 0;
}


.panel-left,
.panel-right {
	display: inline-block;
	vertical-align: top;
	padding-top: 50px;
}

.timer,
.border {
 	border: 1px solid grey;
	border-radius: 5px;
}

.timer {
	background: rgba(0,0,0,0.03);
	padding: 5px 10px;
}

.timer time {
	font-weight: 400;
}

.main-product {
	max-width: 950px;
	height: auto;
	margin: 36px auto 0;
	background: #e6e6e6;
	border-right: 1px solid #bababb;
	border-left: 1px solid #bebfbf;
	border-bottom: 1px solid #aaaaaa;
	border-radius: 6px;
	font-size: 12px;
}

.presentation {
	width: 100%;
	height: auto;
	padding-bottom: 20px;
	list-style: none;
	background: url('../img/products-bg.jpg') no-repeat top center;
	background-size: cover;
	border-bottom: 1px solid #c1c1c1;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}

.presentation-item {
	vertical-align: top;
	position: relative;
	display: inline-block;
	text-align: center;
    width: 30%;
    margin-left: 1%;
}

.presentation-item h2 {
	font-weight: 400;
	font-size: 12px;
	margin: 20px auto 0px;
	vertical-align: middle;
}

.separator {
	display: none;
	opacity: 0;
	font-size: 48px;
	font-weight: 700;
	position: absolute;
	top: 15%;
	right: -5%;
    text-shadow: 1px 1px rgb(245, 245, 245);
    color: rgba(181, 181, 181,0.9);
    transition: all 0.2s;
}

.separator.active {
	opacity: 1;
}

.presentation-info {
	padding-top: 10px;
}

.presentation-info:before {
	position: relative;
	top: -2px;
	display: inline-block;
	content: " ";
	height: 25px;
	width: 25px;
	background-repeat: no-repeat;
	vertical-align: middle;
	background-position: 50% 50%;
	background-image: url('../img/icons/ico-error.png');
}

.presentation-info.active {
	color: #608000;
}

.presentation-info.active:before {
	background-image: url('../img/icons/ico-checked.png');
}

.presentation-item a {
	color: inherit;
    border-bottom: 1px dotted #666666;
    text-decoration: none;
}

.presentation-item img.inactive{
	display: none;
}

.presentation-item img.active{
	display: block;
}

.presentation-text {
	line-height: 1.7em;
	margin: 0 auto;
	padding: 8px 0;
	width: 90%;
	border-top: 1px solid #cdcdcd;
	border-bottom: 1px solid #cdcdcd;
}

.slider-container {
	position: relative;
	border-top: 1px solid #f1f1f1;
	height: 180px;
	padding: 0 50px;
}


.slider {
	position: relative;
	display: inline-block;
	min-height: 170px;
	width: 100%;
	vertical-align: top;
	top: 30px;
}

.goodies-list2 .list-item {
	vertical-align: top;
	text-align: center;
	width: 50%;
	margin: 35px 0 0;
	padding: 0 15px;
}

.list-item_para {
	padding-bottom: 10px;
}

.list-item_para--title {
	padding-bottom: 5px;
}

.games-sold-counter {
	font-size: 40px;
	margin-top: 18px;
	position:relative;
}

.games-sold-counter .divider {
	font-family: 'Arial', sans-serif;
	color: #9b9b9b;
	text-shadow: 0 1px #f9f9f9;
	top: 6px;
}

.games-sold-counter .divider,
.games-sold-counter .digit {
	position: relative;
	margin-right: -7px;
}

.games-sold-counter .digit {
	font-family: 'ds-digitalbold';
	color: #ffffff;
	text-shadow: 0 1px #666666;
	line-height: 35px;
	padding: 2px 3px 0px 4px;
	border: 1px solid #8d8d8d;
	border-radius: 2px;
	box-shadow: 0px 1px #f9f9f9;

	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a6a6a6+0,bebebe+100 */
	background: #a6a6a6; /* Old browsers */
	background: -moz-linear-gradient(top,  #a6a6a6 0%, #bebebe 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #a6a6a6 0%,#bebebe 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #a6a6a6 0%,#bebebe 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6a6a6', endColorstr='#bebebe',GradientType=0 ); /* IE6-9 */
}

/* MEDIA CONTAINER */
.media-container {
	margin-top: 10px;
	padding: 0 10px;
}

.movie-list,
.breakpoint-list {
	list-style-type: none;
}

.movie-list {
	position: relative;
}

.absolute-center {
	position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.play-movie,
.still-loading {
    color: #ffffff;
    font-size: 25px;
    font-weight: 700;
}

.play-movie {
	width: 100%;
    height: 100%;
}

.play-button {
	transform: translate(-40%, -40%);
}

.media-image,
.breakpoint-list {
  	width: 90%;
	margin-left: auto;
	margin-right: auto;  	
}

.media-image {
	position: relative;
}

.media-image .img {
	border: 6px solid #ffffff;
    box-shadow: 0 2px 4px #9b9c9c;
}

.breakpoint-list {
	margin-top: 11px;
	position: relative;
	border: 1px solid #a6a6a6;
	border-radius: 3px;
	overflow: hidden;
}

.breakpoint-item {
	position: relative;
	width: 20%;
	background: #cbcbcb;
}

.breakpoint-item.sel {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a6a6a6+0,d9d9d9+100 */
	background: #a6a6a6; /* Old browsers */
	background: -moz-linear-gradient(top,  #a6a6a6 0%, #d9d9d9 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #a6a6a6 0%,#d9d9d9 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #a6a6a6 0%,#d9d9d9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6a6a6', endColorstr='#d9d9d9',GradientType=0 ); /* IE6-9 */
}

.breakpoint-item button {
	font-size: 10px;
	width: 100%;
	height: 100%;
	padding: 5px 0;
	background: none;
	border: none;
	border-right: 1px solid #a2a2a2;
}

.breakpoint-item button:hover {
	font-weight: 600;
}

.breakpoint-item button.active {
	outline: 1px solid green;
	content: " ";
}

.breakpoint-item button.unlocked {
	outline: 1px solid red;
	background: url('../../img/icons/check-ico.png') no-repeat center center;
}

/* RZ-SLIDER OVERWRITE */

.rzslider .rz-bar {
	height: 14px;
  	border: 1px solid #aaaaaa;

	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#cdcdcd+0,b6b6b6+100 */
	background: rgb(205,205,205); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(205,205,205,1) 0%, rgba(182,182,182,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(205,205,205,1) 0%,rgba(182,182,182,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(205,205,205,1) 0%,rgba(182,182,182,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cdcdcd', endColorstr='#b6b6b6',GradientType=0 ); /* IE6-9 */
}

.rzslider .rz-bar,
.rzslider .rz-selection {
	border-radius: 10px;
}
.rzslider .rz-bar-wrapper {
	height: 32px;
}

.rzslider .rz-selection {
  border: 1px solid #809b00;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e6f127+0,b5ce18+7,8fb600+67,9abc27+100 */
	background: rgb(230,241,39); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(230,241,39,1) 0%, rgba(181,206,24,1) 7%, rgba(143,182,0,1) 67%, rgba(154,188,39,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(230,241,39,1) 0%,rgba(181,206,24,1) 7%,rgba(143,182,0,1) 67%,rgba(154,188,39,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(230,241,39,1) 0%,rgba(181,206,24,1) 7%,rgba(143,182,0,1) 67%,rgba(154,188,39,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6f127', endColorstr='#9abc27',GradientType=0 ); /* IE6-9 */
}

.slider-min-val,
.slider-max-val {
	position: absolute;
	vertical-align: top;
	font-size: 14px;
	font-weight: 600;
	padding-top: 15px;
    top: 0px;
}

.slider-min-val {
	left: 20px;
}

.slider-max-val {
    right: 20px;
}

.rzslider .rz-pointer {
	background: url('../img/slider-point.png') no-repeat top center;
	top: -7px;
	width: 17px;
	height: 33px;
	border-radius: 0;
	outline: none;
	transform: translateX(1px);
}

.rzslider .rz-pointer:after {
	content: none;
}

.rzslider .rz-ticks {
	top: 4px;
}

.rzslider .rz-tick {
	position: absolute;
	top: 0;
	left: 0;
	width: 6px;
	height: 6px;
	margin-left: 3px;
	text-align: center;
	cursor: pointer;
	background: #787878;
	border: 1px solid #606060;
	border-radius: 50%;
}

.rzslider .rz-tick.rz-selected {
	background: #5c7100;
	border: 1px solid #515f02;
}

.rzslider .rz-bubble {
    display: block;
    top: 34px;
    padding: 10px 20px;
    color: #55637d;
    cursor: default;
}

.rzslider .rz-tick .rz-tick-value {
	font-size: 10px;
	bottom: 17px;
}

.rzslider .rz-tick:nth-child(2) .rz-tick-value {
	bottom: 30px;
}

/* POINTER CARET */

.pointer-caret {
	pointer-events: none;
	position: relative;
	top: 10px;
	display: inline-block;
	min-width: 222px;
	min-height: 60px;
	border: 1px solid #b3b3b3;
	border-radius: 5px;
	transform: translateX(-3px);

	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c2c2c2+0,cfcfcf+100 */
	background: #c2c2c2; /* Old browsers */
	background: -moz-linear-gradient(top,  #c2c2c2 0%, #cfcfcf 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #c2c2c2 0%,#cfcfcf 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #c2c2c2 0%,#cfcfcf 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c2c2c2', endColorstr='#cfcfcf',GradientType=0 ); /* IE6-9 */

}

.pointer-caret:before {
    display: block;
    content: "";
    background: #cacaca;
    border-left: 1px solid #b3b3b3;
    border-top: 1px solid #b3b3b3;
    position: relative;
    left: 46%;
    top: -6px;
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
}

.caret-value {
	pointer-events: auto;
	display: inline-block;
	font-size: 25px;
	font-weight: 700;
	color: #698c00;
    text-shadow: 0px 1px #dddddd;
}

.checkout-info {
	pointer-events: auto;
	vertical-align: top;
	position: relative;
	display: inline-block;
	font-size: 13px;
	font-weight: 600;
	color: #03101a;
	border: 1px solid #838383;
	border-bottom: 1px solid #565656;
	border-radius: 5px;
	padding: 8px 12px;
    text-shadow: 0px 1px #a4bf4d;

	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e1eb77+1,a6c500+4,6c9600+96 */
	background: #e1eb77; /* Old browsers */
	background: -moz-linear-gradient(top,  #e1eb77 1%, #a6c500 4%, #6c9600 96%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #e1eb77 1%,#a6c500 4%,#6c9600 96%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #e1eb77 1%,#a6c500 4%,#6c9600 96%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e1eb77', endColorstr='#6c9600',GradientType=0 ); /* IE6-9 */
}

.checkout-info:hover {
	opacity: 0.9;
	top: -1px;
}

.checkout-info:active {
	top: 0px;
}

.edit-in-place div {
	display: inline-block;
	cursor: pointer;
}

.edit-in-place input {
	display: none;
}

.edit-in-place.active div {
	display: none;
}

.edit-in-place div,
.edit-in-place input {
	width: 95px;
    text-align: center;
	padding-left: 10px;
}

.edit-in-place.active input {
	display: inline-block;
	border: none;
}

.pointer-caret-info {
	font-size: 10px;
	position: absolute;
	bottom: -21px;
	padding-left: 10px;
}

.pointer-caret-info:before {
	display: inline-block;
	width: 14px;
	height: 14px;
	position: relative;
    left: -6px;
    top: 3px;


	content: " ";
	background: url('../img/icons/info-ico.png') no-repeat center center;
}

/* ARC */

.arc-wrapper {
	width: 94px;
	height: 94px;
	border-radius: 50%;
	background: rgba(0,0,0,0.8);
}

.arc-wrapper svg {
	position: relative;
	top: 2px;
}

.play-button {
	background: none;
	border: none;
}

/* MEDIA QUERIES */ 

@media (min-width: 500px) {

	.crossed-title:after,
	.crossed-title:before {
	    width: 5%;
	}

	.goodies-list2 .list-item {
		width: 33%;
	}
}

@media (min-width: 768px) {
	.presentation-item {
		width: 33%;
		margin-left: 0;
	}

	.slider {
		top: 0;
	    padding: 0 30px;
    }

	.slider-min-val,
	.slider-max-val {
		padding-top: 31px;
	}

	.separator {
		display: inline-block;
	}

	.panel-left {
		width: 66%;
	}
	.panel-right {
		width: 33%;
	}

	.crossed-title:after,
	.crossed-title:before {
	    width: 17%;
	}

	.rzslider .rz-tick:nth-child(2) .rz-tick-value {
		bottom: 17px;
	}

}


}

@media (min-width: 992px) {
	.presentation-text {
		width: 80%;
	}
}

@media (min-width: 1200px) {

}